<div *ngIf="displayFlowers.length===0">
  <mat-card>
    No flowers to display.
  </mat-card>
</div>

<ul *ngFor="let displayFlower of displayFlowers" style="list-style: none">
  <li *ngFor="let opt of displayFlower.options">
    <ng-container *ngIf="opt.key !== '_id'">
      <strong>{{opt.key}}: </strong>{{opt.value}}
    </ng-container>
  </li>
  <button (click)="deleteFlower(displayFlower)" mat-fab color="primary">
      <mat-icon>
        delete
      </mat-icon>
    </button>
    <hr>
</ul>
