<!-- <form class="create-flower-form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Flower Name" value="">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Price" value="">
    </mat-form-field>
</form>

  <button 
    (click)="add()"
    mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>

  <br> -->

Dynamic:
dynamic form component start
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let field of fields" class="form-row">
      <app-dynamic-field [field]="field" [form]="form"></app-dynamic-field>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
dynamic form component END